<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMz9Z1DH961Ri7Yr4yhlKiKb1plEoiTHA</string>
	<key>GCM_SENDER_ID</key>
	<string>555508651647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipestash.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>recipestash-6be03</string>
	<key>STORAGE_BUCKET</key>
	<string>recipestash-6be03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555508651647:ios:82daa6650692775b64514a</string>
</dict>
</plist>